*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: black;
    color: white;
}

header {
    text-align: center;
}

header h1 {
    margin-bottom: 20px;
    color: magenta;
}

main {
    display: flex;
    justify-content: space-around;
}

/* #code-wrap {
    position: relative;
  } */

.card {
    display: flex;
    flex-direction: column;
    border: 1.5px dashed white;
    margin: 20px 10px;
    position: relative;
}

.card h2 {
    /* border: 2px solid;
    position: absolute;
    border-radius: 2px;
    top: -15px;
    left: 10%;
    z-index: 1;
    width: 80%;
    padding-left: 15px; */
    color: magenta;
}

.title-box {
    border: 2px solid;
    position: absolute;
    border-radius: 2px;
    top: -15px;
    left: 10%;
    z-index: 1;
    width: 80%;
    padding-left: 15px;
}

.card pre {
    background-color: magenta;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}

.card p {
    margin-top: 20px;
    padding: 10px;
    color: magenta;
}


footer {
    text-align: center;
    color: magenta;
}